body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 550px;
    margin:auto;
    min-height: 100vh;
}

.hero {
    background: #6943FF;
    color: white;
    padding: 40px
}

.main {
    background: #F4F4F4;
    color: #5A537B;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;
    margin-top: 15px;
}

.btn {
    border: none;
    border-radius: 5px;
    color: #3D3D3D;
    padding: 10px 28px;
    font-weight: bold;
    margin-top: 15px;
}

input {
    background: #6943FF;
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    text-align: center;
    font-size: 58px;
    color: white;
}


